bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.LuckyDice/.idea/encodings.xml
.idea/.idea.LuckyDice/.idea/indexLayout.xml
.idea/.idea.LuckyDice/.idea/vcs.xml
LuckyDice.sln.DotSettings.user
